.cardItem {
  display: flex;
  align-items: center;
  width: 95%;
  height: 400px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 3px 3px 3px 3px rgb(133, 133, 133);
  img {
    max-width: 200px;
    height: 200px;
  }

  b {
    display: block;
    margin-top: 40px;
  }
}
.cardContent {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}
.iconsContainer {
  margin-top: 0;
  span {
    margin-top: 0;
  }
}
