#root {
}
body {
  margin: 0;
  padding: 0;
}
.cardContainer {
  margin: 0 auto;
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 15px;
}
.loadingSkeletonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link{
  text-decoration: none;
  color: black;
}